.root {
  margin-bottom: 0.5rem;
}

.info {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  cursor: pointer;
}

.info:hover {
  background-color: var(--hover-color);
}

.devices {
  padding: 0 1rem;
}
